<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Ayudantia</title>
</head>

<body>

    <h1>Hola soy el About</h1>

    <button onclick="location.href='/'">ir a inicio</button>
    <button onclick="location.href='/nosotros'">ir a Nosotros</button>

</body>

</html>