<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Ayudantia</title>
</head>

<body>

    <h1>Hola soy el Home</h1>

    <!-- <button id="boton1">ir a About</button> -->

    <!-- <script>
        document.getElementById("boton1").addEventListener("click", function () {
            window.location.href = "http://localhost:3000/about";
        })
    </script> -->

    <button onclick="location.href='/about'">ir a About</button>
    <button onclick="location.href='/nosotros'">ir a Nosotros</button>




</body>

</html>